// @import "./reset";
// body {
//   background-color: #242936;
//   padding: 20px;
//   * {
//     font-family: Poppins;
//   }
// }
*{
  scroll-behavior: smooth;
}
.chat {
  background-color: white;
  border-radius: 8px;
  font-family: inherit;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  padding-left: 48px;
  line-height: 120%;
  input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
  .select-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    &:has(input:checked) {
      display: none;
    }
    input {
      display: none;
    }
    label {
      font-weight: 600;
      padding: 12px;
      background-color: #f4f8fc;
      border-radius: 8px;
      border: 2px solid #abadf6;
      color: #445278;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: #6461f2;
        border-color: #6461f2;
      }
    }
  }
  .message {
    width: fit-content;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 8px;
    animation: fadeIn 0.5s ease-in-out;
    &:has(input) {
      width: 100%;
    }
    &:has(input[type="hidden"]) {
      width: fit-content;
    }
    .text-input {
      &:has(input[type="hidden"]) {
        display: none;
      }
      &:has(.invalid-input){
        border-color: red;
      }
      width: 100%;
      display: block;
      border: 2px solid #abadf6;
      border-radius: 4px;
      margin-top: 4px;
      display: flex;
      justify-content: stretch;
      button {
        width: 40px;
        background: url("data:image/svg+xml,%3Csvg fill='%236461f2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480l0-83.6c0-4 1.5-7.8 4.2-10.8L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z'/%3E%3C/svg%3E");
        background-size: 70% 70%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
      }
      input {
        padding: 4px 8px;
        width: 100%;
        font-size: 16px;
        border: none;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    &.message-user {
      background-color: #6461f2;
      color: white;
      border-radius: 8px 8px 0 8px;
      margin-left: auto;
    }
    &.message-bot {
      background-color: #f4f8fc;
      border-radius: 8px 8px 8px 0;
    }
  }
  .message-wrapper .message,
  .message-bot:has(input),
  .message-bot.has-pic {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4531 23.4675C15.6771 23.0933 16.2416 22.774 16.4449 22.3733L16.87 22.3204C17.1889 22.9112 15.901 23.3994 15.4531 23.4675ZM27.2909 10.3492C25.4189 13.8484 18.3571 17.4839 18.3571 18.3829C18.3571 18.6341 18.7369 18.5863 19.8751 18.4622C23.678 18.0473 24.6975 16.8768 22.9576 20.1788C22.7203 20.6282 22.3983 20.8784 22.0289 20.9089C17.0754 21.3157 18.5604 22.5929 18.0805 24.9298C17.6884 25.8949 16.7968 26.2142 16.2756 26.9911C16.5491 25.6762 17.8948 25.3061 17.223 23.6922C17.0094 24.0614 16.7431 24.4041 16.2323 24.5841C15.8649 24.7142 15.4201 24.7458 14.9939 24.7875C14.9797 24.4865 14.9901 24.1848 15.0249 23.8854C15.3755 23.8163 15.7174 23.7095 16.0445 23.5671C16.8432 23.2275 17.6956 22.6285 17.2467 21.9767C17.2443 21.9736 17.243 21.9699 17.243 21.966C17.243 21.9621 17.2443 21.9584 17.2467 21.9553C17.3322 21.9006 17.4211 21.8513 17.513 21.8079C17.5158 21.8061 17.5181 21.8034 17.5193 21.8004C17.5206 21.7973 17.5209 21.7939 17.5202 21.7906C17.4603 21.4082 17.8618 21.2882 18.1734 21.2313L18.1641 21.1662C17.0362 21.4214 16.3314 21.8536 16.2581 21.9858C15.9113 22.6102 14.9578 23.9302 14.3335 22.8401C14.7101 23.6383 14.9083 24.6898 15.062 25.7373C15.1662 26.0612 15.2948 26.377 15.447 26.682C15.7947 27.3653 16.0042 27.8413 15.9991 28.2796C15.9918 28.788 15.6709 29.205 15.0816 29.5527C14.7767 29.8398 14.3713 30 13.9496 30C13.5279 30 13.1224 29.8398 12.8175 29.5527C12.2282 29.205 11.9063 28.786 11.9001 28.2796C11.9001 27.8413 12.1065 27.3643 12.4522 26.682C12.6041 26.3771 12.7325 26.0613 12.8361 25.7373C12.9909 24.6898 13.188 23.6383 13.5657 22.8401C12.9413 23.9302 11.9878 22.6102 11.641 21.9858C11.5667 21.8536 10.8629 21.4214 9.73499 21.1662L9.72571 21.2313C10.0353 21.2882 10.4388 21.4082 10.3779 21.7906C10.3773 21.794 10.3777 21.7974 10.3792 21.8006C10.3807 21.8037 10.3831 21.8062 10.3862 21.8079C10.4779 21.8516 10.5668 21.9008 10.6524 21.9553C10.6548 21.9584 10.6562 21.9621 10.6562 21.966C10.6562 21.9699 10.6548 21.9736 10.6524 21.9767C10.2076 22.6285 11.0559 23.2275 11.8536 23.5671C12.1811 23.7094 12.5233 23.8161 12.8743 23.8854C12.9091 24.1848 12.9194 24.4865 12.9052 24.7875C12.4821 24.7427 12.0373 24.7112 11.6668 24.5841C11.157 24.4031 10.8908 24.0614 10.6772 23.6922C10.0054 25.3061 11.3511 25.6762 11.6245 26.9911C11.1085 26.2142 10.2107 25.8949 9.81858 24.9298C9.33975 22.5909 10.8237 21.3198 5.87129 20.9089C5.49978 20.8784 5.17781 20.6282 4.94252 20.1788C3.20261 16.8768 4.22014 18.0432 8.02399 18.4622C9.15915 18.5863 9.54305 18.6341 9.54305 18.3829C9.54305 17.4819 2.48127 13.8464 0.609272 10.3492C-0.887087 7.55166 0.516395 3.08229 3.25421 0.767775C3.06846 1.75216 -0.426826 7.17438 3.34193 3.79617C3.34193 3.79617 4.13139 2.32061 4.72477 1.53453C5.24695 0.844045 5.92289 0.17186 6.38315 0.00305083C6.26757 0.401684 5.47605 1.39725 5.2645 1.70843C4.78566 2.42027 4.46988 3.26533 4.43273 3.52261C4.49258 3.5399 6.23661 2.93382 6.80626 2.96839C5.72166 4.08701 3.91674 3.93447 3.68764 5.77306C3.46267 7.59335 3.48847 9.10856 3.98072 10.5333C4.1221 9.67601 4.95903 8.31536 5.7681 7.91775C5.74849 9.4055 4.16132 9.65567 4.89918 12.3424C5.72475 13.5006 6.68862 13.9888 7.95691 14.8257C7.93524 13.7569 8.04669 12.4766 8.47289 11.4993C8.54926 12.8366 8.47289 13.9023 9.2221 15.3158C9.4285 14.5267 10.0982 13.9278 10.5203 13.8718C10.5203 13.8718 9.80826 14.8582 9.57504 15.9169C9.78143 16.0257 10.8072 16.9592 11.9166 17.3802H15.9867C17.096 16.9592 18.126 16.0257 18.3282 15.9169C18.095 14.8582 17.3829 13.8718 17.3829 13.8718C17.805 13.9278 18.4706 14.5267 18.6812 15.3158C19.4293 13.9023 19.354 12.8366 19.4304 11.4993C19.8545 12.4766 19.966 13.7569 19.9464 14.8257C21.2146 13.9888 22.1775 13.5037 23.0041 12.3424C23.7419 9.65567 22.1548 9.4055 22.1352 7.91775C22.9442 8.31536 23.7812 9.67601 23.9225 10.5333C24.4148 9.10958 24.4385 7.59335 24.2156 5.77306C23.9865 3.93549 22.1795 4.09209 21.096 2.96534C21.6635 2.93077 23.4076 3.53685 23.4695 3.51956C23.4323 3.26228 23.1166 2.41214 22.6367 1.70538C22.4303 1.3942 21.6347 0.398633 21.5191 0C21.9793 0.168809 22.6542 0.840994 23.1775 1.53148C23.7708 2.31756 24.5603 3.79312 24.5603 3.79312C28.3291 7.17438 24.8338 1.7491 24.648 0.764725C27.3827 3.0833 28.7872 7.55267 27.2909 10.3502V10.3492ZM2.32854 7.06048C2.36362 6.63744 2.48952 5.75272 2.48952 5.75272C1.04476 6.66795 0.83837 8.90518 2.06435 10.1479C2.27694 10.3645 2.39974 10.3045 2.39149 10.1804C2.34195 9.50008 2.23669 8.15164 2.32854 7.06048ZM8.68651 20.0639C7.59572 19.6754 6.3718 18.9768 5.27585 18.8558C5.4358 20.5693 7.20254 20.135 8.44297 20.1361C8.51314 20.131 8.63491 20.1422 8.68341 20.0639H8.68651ZM12.8268 21.9401C12.0394 21.1631 11.284 20.313 10.1519 20.2744L10.1963 20.615C11.1994 20.8113 11.9671 21.4601 12.7545 22.0702C12.7707 22.0236 12.794 21.9797 12.8237 21.9401H12.8268ZM14.9072 29.5558L13.9558 29.1307L13.0043 29.5558C13.2698 29.7784 13.6071 29.9006 13.9558 29.9006C14.3044 29.9006 14.6417 29.7784 14.9072 29.5558V29.5558ZM14.1849 27.703C14.1147 27.741 14.0359 27.7609 13.9558 27.7609C13.8757 27.7609 13.7969 27.741 13.7267 27.703C13.5935 27.6355 13.4688 27.5529 13.3552 27.4569C13.1488 27.2952 12.9424 27.1254 12.6895 27.1254L12.4914 27.5748L13.9527 28.7951L15.4139 27.5748L15.2189 27.1264C14.9671 27.1264 14.7586 27.2962 14.5533 27.4579C14.4395 27.5536 14.3149 27.6358 14.1818 27.703H14.1849ZM17.7596 20.2794C16.6244 20.3232 15.8721 21.1682 15.0847 21.9452C15.1151 21.9848 15.1395 22.0287 15.157 22.0753C15.9444 21.4652 16.7122 20.8164 17.7152 20.6201L17.7596 20.2794ZM19.224 20.0689C19.2735 20.1472 19.3953 20.1361 19.4685 20.1411C20.7069 20.1411 22.4747 20.5743 22.6357 18.8608C21.5356 18.9768 20.3127 19.6754 19.2209 20.0639L19.224 20.0689ZM25.4189 5.75272C25.4189 5.75272 25.5448 6.63744 25.5799 7.06048C25.6686 8.14859 25.5634 9.50109 25.5169 10.1804C25.5087 10.3045 25.6315 10.3645 25.8441 10.1479C27.067 8.90009 26.8626 6.67304 25.4189 5.75272ZM12.4522 23.4675C12.2272 23.0933 11.6637 22.774 11.4604 22.3733L11.0353 22.3204C10.7112 22.9112 12.0043 23.3994 12.4522 23.4675Z' fill='%23FF0000'/%3E%3C/svg%3E%0A");
      background-size: 100% 100%;
      bottom: 8px;
      right: calc(100% + 8px);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
